01_ServiceProducer/ServiceConsumerTest/Service References/AdvertisingService/PurchasingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://lab.cheonghyun.com:8888/AdvertisingService/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://lab.cheonghyun.com:8888/AdvertisingService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://lab.cheonghyun.com:8888/AdvertisingService/">
      <s:element name="requestOrderDetails">
        <s:complexType />
      </s:element>
      <s:element name="requestOrderDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestOrderDetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="createOrderDetails">
        <s:complexType />
      </s:element>
      <s:element name="createOrderDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="createOrderDetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendOrderDetails">
        <s:complexType />
      </s:element>
      <s:element name="sendOrderDetailsResponse">
        <s:complexType />
      </s:element>
      <s:element name="createInvoice">
        <s:complexType />
      </s:element>
      <s:element name="createInvoiceResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="requestOrderDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:requestOrderDetails" />
  </wsdl:message>
  <wsdl:message name="requestOrderDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:requestOrderDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="createOrderDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:createOrderDetails" />
  </wsdl:message>
  <wsdl:message name="createOrderDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:createOrderDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="sendOrderDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:sendOrderDetails" />
  </wsdl:message>
  <wsdl:message name="sendOrderDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:sendOrderDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="createInvoiceSoapIn">
    <wsdl:part name="parameters" element="tns:createInvoice" />
  </wsdl:message>
  <wsdl:message name="createInvoiceSoapOut">
    <wsdl:part name="parameters" element="tns:createInvoiceResponse" />
  </wsdl:message>
  <wsdl:portType name="PurchasingServiceSoap">
    <wsdl:operation name="requestOrderDetails">
      <wsdl:input message="tns:requestOrderDetailsSoapIn" />
      <wsdl:output message="tns:requestOrderDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="createOrderDetails">
      <wsdl:input message="tns:createOrderDetailsSoapIn" />
      <wsdl:output message="tns:createOrderDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sendOrderDetails">
      <wsdl:input message="tns:sendOrderDetailsSoapIn" />
      <wsdl:output message="tns:sendOrderDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="createInvoice">
      <wsdl:input message="tns:createInvoiceSoapIn" />
      <wsdl:output message="tns:createInvoiceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PurchasingServiceSoap" type="tns:PurchasingServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="requestOrderDetails">
      <soap:operation soapAction="http://lab.cheonghyun.com:8888/AdvertisingService/requestOrderDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createOrderDetails">
      <soap:operation soapAction="http://lab.cheonghyun.com:8888/AdvertisingService/createOrderDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendOrderDetails">
      <soap:operation soapAction="http://lab.cheonghyun.com:8888/AdvertisingService/sendOrderDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createInvoice">
      <soap:operation soapAction="http://lab.cheonghyun.com:8888/AdvertisingService/createInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PurchasingServiceSoap12" type="tns:PurchasingServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="requestOrderDetails">
      <soap12:operation soapAction="http://lab.cheonghyun.com:8888/AdvertisingService/requestOrderDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createOrderDetails">
      <soap12:operation soapAction="http://lab.cheonghyun.com:8888/AdvertisingService/createOrderDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendOrderDetails">
      <soap12:operation soapAction="http://lab.cheonghyun.com:8888/AdvertisingService/sendOrderDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createInvoice">
      <soap12:operation soapAction="http://lab.cheonghyun.com:8888/AdvertisingService/createInvoice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PurchasingService">
    <wsdl:port name="PurchasingServiceSoap" binding="tns:PurchasingServiceSoap">
      <soap:address location="http://lab.cheonghyun.com:8888/AdvertisingWebService/PurchasingService.asmx" />
    </wsdl:port>
    <wsdl:port name="PurchasingServiceSoap12" binding="tns:PurchasingServiceSoap12">
      <soap12:address location="http://lab.cheonghyun.com:8888/AdvertisingWebService/PurchasingService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>